

.footer {
    background-color: #4c4ae6;
    color: #fff;
    font-style: italic;
    text-align: center;

    /* 1. margin */
    /* margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px; */
    /* tambien vale margin: 20px 20px 20px 20px; */
    /* tambien vale margin: 20px 20px  ancho y alto*/
    /* tambien vale margin: 20px todos lados */


    /* 2. border */
    /* border: 1px solid red; */
    /* border-radius: 3px; */

    /* 3. padding */
    padding: 20px;
    font-size: 16px;

}