:root {
    /* definicion de la variable */
    --main-primary-color: #110ddf;
    --secondary-font-color: #fff;
    font-size: 16px;
}



body {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

.footer {
    font-style: italic;
    text-align: center;

    /* 1. margin */
    /* margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px; */
    /* tambien vale margin: 20px 20px 20px 20px; */
    /* tambien vale margin: 20px 20px  ancho y alto*/
    /* tambien vale margin: 20px todos lados */


    /* 2. border */
    /* border: 1px solid red; */
    /* border-radius: 3px; */

    /* 3. padding */
    padding: 20px;
    font-size: 1rem;
    /* 1 ->16px */
}

.absolute-font {
    font-size: 16px;
    padding: 16px;

} 

/*  .navbar .image-container {
    display: none; /* oculata la imagen 
}*/

.hide {
    display: none;
}

/* classe gnerica que puedo usar en cualquier parte */
.main-bg {
    background-color: var(--main-primary-color);
    color: var(--secondary-font-color);
}

/* navbar */
.navbar {
padding: 10px 20px;
position: fixed;
top: 0;
right: 0;
left: 0;
}

/* link */
.navbar .app-title {
    color: var(--secondary-font-color);
    text-decoration: none;
}

@media print {
    body {
        color: red;   /* cambia las letras rojas al imprimir */
    }
}

/* APLICA LO MSMO QUE VIMOS EN IMAGENES RESPONSIVE QUE VAN CAMBIANDO EN FUNCION DEL ANCHO */
@media screen and (max-width: 400px) {           /* a partir de 400px esto se ejecuta */
   .navbar .image-container img {
    display: none;
   }
}